* {
    margin: 0px;
}

:root {
    --primecolor: rgb(247, 215, 181);
    --buttoncolor: rgb(245, 217, 152);
    --secondcolor: burlywood;
}

#categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-color: var(--secondcolor);
    border-radius: 10px;
    border: 1px solid #000000;
}

button {
    display: inline-block;
    background-color: var(--buttoncolor);
    border-radius: 10px;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.57);
    border: 4px double #CCCCCC;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-style: oblique;
    margin-top: 35px;
    margin-bottom: 35px;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        1px 1px 2px #141414,
        1px 1px 3px #141414,
        1px 1px 5px #141414,
        1px 1px 7px #141414,
        1px 1px 10px #141414,
        1px 1px 12px #141414,
        1px 1px 18px #141414;
    color: #fff;
}

button:hover {
    background-color: forestgreen;
}

.bibli {
    display: flex;
    flex-direction: row;
}

#restaurantList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    gap: 75px;
    margin-bottom: 75px;

}


.restaurantUl {
    /* padding: 1rem; */
    color: whitesmoke;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--buttoncolor);
    border-radius: 10px;
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-size: 20px; */
    padding: 0px;
    /* height: 418.13px; */
    max-width: 375px;
    box-shadow: 3px 3px 0px 4px rgba(0, 0, 0, 0.57);
}

.restaurantUl>li {
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--primecolor);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-style: oblique;
    border: transparent;
}

.Titre {
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        1px 1px 2px #141414,
        1px 1px 3px #141414,
        1px 1px 5px #141414,
        1px 1px 7px #141414,
        1px 1px 10px #141414,
        1px 1px 12px #141414,
        1px 1px 18px #141414;
    color: #fff;
    font-size: 100px;
}

h2 {
    display: flex;
    color: black;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    text-shadow: #800000 2px 2px 0,
        #FF62 4px 4px 0,
        #000000 6px 6px 0.5px,
        #333 8px 11px 10px;
    color: #FFFEA5;
}

.food {
    background-image: url(src/pictureplatbis.jpg);
    background-position: center;
    background-size: cover;
    padding: 10rem;
    text-align: center;
    border-bottom: 1px solid #000000;
}

a:visited {
    color: black;

}

img {
    width: 375px;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid #000000;
}

.restaurant-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 375px;
    color: #000;
}

.restaurant-title {
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        1px 1px 2px #141414,
        1px 1px 3px #141414,
        1px 1px 5px #141414,
        1px 1px 7px #141414,
        1px 1px 10px #141414,
        1px 1px 12px #141414,
        1px 1px 18px #141414;
    color: #fff;
    /* color: rgb(40, 37, 37); */
    font-size: 30px;
    max-width: 375px;
    display: block;
    text-align: center;
    padding: 5px;
}

li {
    padding: 5px;
}

.restaurant-map>iframe {
    border-radius: 10px;
}


.website {
    background-color: #7a6323;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        1px 1px 2px #141414,
        1px 1px 3px #141414,
        1px 1px 5px #141414,
        1px 1px 7px #141414,
        1px 1px 10px #141414,
        1px 1px 12px #141414,
        1px 1px 18px #141414;
    color: #fff;
}

.phone {
    color: blue;
    font-weight: bold;
    /* add more styles as needed */
}

.restaurant-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2CF40D;
    width: 250px;
}

 #searchbar {
     margin-left: 78%;
     padding: 15px;
     border-radius: 10px;
     background-color: #FFFEA5;
 }

 input[type=text] {
     width: 20%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
 }

   #list {
       font-size: 1.5em;
       margin-left: 90px;
   }

   .resto {
       display: list-item;
       
   }