#categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

button {
    width: 120px;
    margin: 15px;
}

.bibli {
    display: flex;
    flex-direction: row;
}

#restaurantList {
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    flex-wrap: wrap;


    background-color: pink;
    align-items: center;
    list-style: none;
}

/*
.restaurantUl {
    background-color: orange;


    padding: 2rem;
    margin: 2rem;
    list-style: none;
} */

.restaurantUl {
    background-color: hotpink;
    padding: 1rem;
}

.restaurantUl li {
    flex-basis: 32%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}

.food {
    background-image: url(src/pictureplat.jpg);
    background-position: center;
    background-size: cover;
    padding: 10rem;
    color: black;
    text-align: left;
    text-align: center;
    text-size-adjust: auto;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    color: mediumturquoise;
}

h1 {
    font-size: 30px;
    color: black;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

h2 {
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

a:visited {
    color: black;
}