* {
    margin: 0px;
}

#categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

button {
    width: 120px;
    margin: 15px;
}

.bibli {
    display: flex;
    flex-direction: row;

}


#restaurantList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;


    background-color: white;
    align-items: center;
    list-style: none;
}




/* 
.restaurantUl {
    background-color: rgb(196, 240, 225);


    padding: 2rem;
    margin: 2rem;
    list-style: none;
} */

.restaurantUl {
    background-color: white;

    padding: 1rem;


}


.restaurantUl li {
    flex-basis: 32%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    background-color: black;
    border-radius: 5px;
    padding: 1rem;
}

body {
    background-color: rgb(30, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


h1 {
    font-size: 45px;
    color: black;
    font-style: oblique;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    font-style: oblique;
}

h2 {
    color: white;
    ;
}

.food {
    background-image: url(src/pictureplat.jpg);
    background-position: center;
    background-size: cover;
    padding: 10rem;
    color: black;
    text-align: left;
    text-align: center;
    text-size-adjust: auto;
}