body {
background-color: 
}

#categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

button {
    width: 120px;
    margin: 30px;
    padding: 15px 10px;
    font-style: oblique;
    font-weight: bold;
    background-color: burlywood ;
    border-radius: 5px;

}

.bibli {
    display: flex;
    flex-direction: row;

}


#restaurantList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; 
    background-color:
    align-items: center;
    list-style: none;
}




/* 
.restaurantUl {
    background-color: rgb(196, 240, 225);


    padding: 2rem;
    margin: 2rem;
    list-style: none;
} */

.restaurantUl {
    background-color: burlywood;
    padding: 1rem ;
    border-radius:2rem 10px;
    font-style: normal;
    font-weight: bold;

}


.restaurantUl li {
    flex-basis: 32%;
    background-color: chocolate ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 1rem;
}